.personal_block:has(.container-fluid) {
  padding: 0;
}
.personal_block:has(.container-fluid) p {
  margin: 0;
}

.post-slide {
  background: #fff;
  margin: 20px 15px 20px;
  border-radius: 15px;
  padding-top: 1px;
  box-shadow: 0px 14px 22px -9px #bbcbd8;
}
.post-slide .post-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: -12px 15px 8px 15px;
  margin-left: -10px;
  width: 100%; /* Đảm bảo ảnh không vượt quá container */
  padding-top: 65%;
  /* Tỉ lệ chiều cao ảnh thumbnail */
}

.post-slide .post-img img {
  position: absolute; /* Để ảnh phủ hết diện tích của .post-img */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Đảm bảo ảnh không bị méo, tự cắt theo khung */
  transform: scale(1, 1);
  transition: transform 0.2s linear;
}
.post-slide:hover .post-img img {
  transform: scale(1.1, 1.1);
}
.post-slide .over-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(
    -45deg,
    rgba(6, 190, 244, 0.75) 0%,
    rgba(45, 112, 253, 0.6) 100%
  );
  transition: all 0.5s linear;
}
.post-slide:hover .over-layer {
  opacity: 1;
  text-decoration: none;
}
.post-slide .over-layer i {
  position: relative;
  top: 45%;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 25px;
}
.post-slide .post-content {
  background: #fff;
  padding: 2px 20px 40px;
  border-radius: 15px;
}
.post-title {
  display: block;
  overflow: hidden; /* Ẩn phần nội dung tràn ra ngoài */
  white-space: nowrap; /* Ngừng xuống dòng */
  text-overflow: ellipsis; /* Hiển thị "..." khi nội dung dài hơn */
  width: 100%; /* Chiếm toàn bộ chiều rộng */
}
.post-slide .post-title a {
  display: block; /* Đảm bảo liên kết chiếm hết chiều rộng của h3 */
  overflow: hidden; /* Ẩn phần tràn */
  white-space: nowrap; /* Ngừng xuống dòng */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm khi nội dung vượt quá */
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover {
  text-decoration: none;
  color: #3498db;
}
.post-slide .post-description {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 24px;
  color: #808080;
  margin-bottom: 25px;
  height: 150px;
}
.post-slide .post-date {
  color: #a9a9a9;
  font-size: 14px;
}
.post-slide .post-date i {
  font-size: 20px;
  margin-right: 8px;
  color: #cfdace;
}
.post-slide .read-more {
  text-decoration: none;
  padding: 7px 20px;
  float: right;
  font-size: 12px;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 10px 20px -10px #1376c5;
  border-radius: 25px;
  text-transform: uppercase;
}
.post-slide .read-more:hover {
  background: #4ca8e6;
  text-decoration: none;
  color: #fff;
}
.owl-controls .owl-buttons {
  text-align: center;
  margin-top: 20px;
}
.owl-controls .owl-buttons .owl-prev {
  background: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 18px 0 15px;
  border-radius: 50px;
  box-shadow: 3px 14px 25px -10px #92b4d0;
  transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-next {
  background: #fff;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0 15px 0 18px;
  border-radius: 50px;
  box-shadow: -3px 14px 25px -10px #92b4d0;
  transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
  content: '\f104';
  font-family: FontAwesome;
  color: #333;
  font-size: 30px;
}
.owl-controls .owl-buttons .owl-next:after {
  content: '\f105';
}
@media only screen and (max-width: 1280px) {
  .post-slide .post-content {
    padding: 0px 15px 25px 15px;
  }
}

@media (max-width: 576px) {
  .owl-controls .owl-buttons .owl-prev:after,
  .owl-controls .owl-buttons .owl-next:after {
    font-size: 18px !important;
  }
}
